.banner .swiper {
    width: 240px;
    height: 320px;
  }
  
  .banner .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  
  .banner .swiper-slide:nth-child(1n) {
    background-image: url('../assets/img-4.jpeg');
    background-size: cover;
    background-position: center;
  }
  
  .banner .swiper-slide:nth-child(2n) {
    background-image: url('../assets/img-5.jpeg');
  }
  
  .banner .swiper-slide:nth-child(3n) {
    background-image: url('../assets/img-2.jpeg');
  }
  
  .banner .swiper-slide:nth-child(4n) {
    background-image: url('../assets/img-1.jpeg');
  }
  
  .banner .swiper-slide:nth-child(5n) {
    background-image: url('../assets/image-3.jpeg');
  }
  